.cell {
   background-color: #0099FF;
   width: 100px;
   height: 80px;
}

.inner__circle {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   background-color: #282828;
   position: relative;
   top: 5px;
   left: 15px;
}

.r {
  background-color: red;
}

.y {
   background-color: yellow;
}